{% extends "xml_app/base.html" %}
{% load static %}

{% block 'main' %}
<div class="w-100 m-0 p-0">
    <img class="img-fluid" src="{% static 'img/lp1.png' %}" alt="lpone" width="100%">
</div>
<div class=" w-100 m-0 p-0 position-relative">
    <img class="img-fluid" src="{% static 'img/lp2.png' %}" alt="lpone" width="100%">
    <a class="btn btn-warning position-absolute top-100 start-50 translate-middle" href="{% url 'importar_xml' %}">Tente Agora</a>
</div>
<div class="w-100 m-0 p-0">
    <img class="img-fluid" src="{% static 'img/lp3.png' %}" alt="lpone" width="100%">
</div>
<div class="w-100 m-0 p-0">
    <img class="img-fluid" src="{% static 'img/lp4.png' %}" alt="lpone" width="100%">
</div>
{% endblock 'main' %}